@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 599px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
}

header,
.working {
  padding: 30px;
}

.search {
  font-family: "Roboto", sans-serif;
  color: black;
}

.search .city {
  font-size: 22px;
}

.search .search2__tittle {
  text-align: center;
  font-size: 35px;
}

.search .search2__description {
  text-align: center;
  font-weight: 100;
  font-size: 27px;
  color: grey;
}

.explain {
  text-decoration: none;
}

.explain .explain__text,
.explain .explain__numbers {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  color: black;
}

.card a {
  text-decoration: none;
}

.card .card__image__new {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #509b88;
}

.card .card__tittle {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.card .card__description {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 100;
}

.selection__tittle,
.working__tittle {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.nav ul {
  list-style-type: none;
}

.nav ul .nav__link {
  text-decoration: none;
  color: black;
  font-family: "Roboto";
}

.menu__resto .menu__resto__tittle {
  font-family: "shrikhand";
  font-size: 40px;
}

.menu__resto .material-symbols-rounded {
  font-size: 40px;
}

.menu__card {
  font-family: "Roboto", sans-serif;
}

.menu__card .menu__card__tittle {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.menu__card .plat__desc {
  width: 85%;
}

.menu__card .plat__desc .plat__desc__tittle {
  font-size: 27px;
}

.menu__card .plat__desc .plat__desc__exp {
  font-size: 23px;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card .plat__price {
  font-size: 25px;
}

.btn,
.menu__button {
  padding: 25px 35px;
  margin-block: 36px;
  font-size: 23px;
  color: #fff;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
  border-radius: 40px;
  -webkit-box-shadow: -5px 5px 5px whitesmoke;
          box-shadow: -5px 5px 5px whitesmoke;
}

.btn:hover,
.menu__button:hover {
  opacity: 0.85;
  -webkit-box-shadow: -5px 5px 5px #363535;
          box-shadow: -5px 5px 5px #363535;
}

.menu__button {
  padding: 25px 75px;
  margin-top: 50px;
  margin-bottom: 80px;
}

header img {
  width: 50%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .fa-solid {
  position: absolute;
  left: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #ebebeb;
  -webkit-box-shadow: inset 0px 5px 5px -3px #ebebeb;
          box-shadow: inset 0px 5px 5px -3px #ebebeb;
}

.search__form #searchcity {
  font-size: 22px;
  color: black;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  background-color: #ebebeb;
  border: none;
}

.search2 {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
}

.search2 .search2__tittle {
  display: inline-block;
  padding: 0px 50px;
  margin-block: 18px;
}

.search2 .search2__description {
  display: inline-block;
  margin-top: 0%;
  margin-bottom: 10px;
}

.working {
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  margin-top: 20px;
}

.working .working__tittle {
  margin-bottom: 15px;
  margin-top: 0px;
}

.explain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: whitesmoke;
  gap: 30px;
  padding: 35px;
  margin-left: 18px;
  position: relative;
  border-radius: 25px;
  -webkit-box-shadow: -5px 5px 20px 2px #e8e8e8;
          box-shadow: -5px 5px 20px 2px #e8e8e8;
}

.explain:hover {
  background-color: #f4ebff;
}

.explain:hover .fa-solid {
  color: #9256dc;
  background-color: #f4ebff;
}

.explain .explain__numbers {
  background: #9256dc;
  border-radius: 100%;
  color: #fff;
  padding: 5px 12px;
  margin-block: 8px;
  position: absolute;
  left: -14px;
}

.explain .fa-solid {
  font-size: 30px;
  color: gray;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.explain .explain__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection {
  padding: 60px 30px;
  background-color: whitesmoke;
}

.selection .selection__tittle {
  padding-bottom: 8px;
}

.selection__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.card img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-height: 260px;
  border-radius: 20px 20px 0px 0px;
}

.card {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: -5px 5px 5px whitesmoke;
          box-shadow: -5px 5px 5px whitesmoke;
}

.card .card__image {
  position: relative;
}

.card .card__image .card__image__new {
  position: absolute;
  top: 10px;
  right: 20px;
  background: #98e2cf;
  padding: 10px 20px;
  border-radius: 3px;
}

.card .card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card__desc .card__tittle {
  margin-bottom: 0px;
}

.card .card__desc .card__description {
  margin-top: 5px;
}

.card .card__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.meal__image {
  width: 100%;
  opacity: 1;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  height: 390px;
}

.meal .menu {
  padding: 10px;
  border-radius: 60px 60px 0px 0px;
  background-color: whitesmoke;
  opacity: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -60px;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__resto .menu__resto__tittle {
  margin-left: 15px;
}

.menu__resto .material-symbols-rounded {
  margin-right: 15px;
}

.menu__card {
  margin-top: 20px;
  width: 95%;
}

.menu__card .menu__card__tittle {
  padding-bottom: 10px;
  border-bottom: 5px solid #98e2cf;
  width: 13%;
}

.menu__card .menu__card__plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 25px;
  -webkit-box-shadow: -5px 5px 5px whitesmoke;
          box-shadow: -5px 5px 5px whitesmoke;
}

.menu__card__plat .plat__desc__tittle {
  margin: 10px;
}

.menu__card__plat .plat__desc__exp {
  margin: 10px;
  width: 90%;
}

.plat__price {
  margin: 10px;
}

.fa-heart {
  font-size: xx-large;
  background-image: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: black;
  font-weight: 100;
}

.fa-heart:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9256dc), to(#ff7ad9));
  background-image: linear-gradient(#9256dc, #ff7ad9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  background: #363535;
  padding: 30px 30px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

footer .logo {
  width: 27%;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.nav ul {
  padding: 0px;
  line-height: 35px;
  padding-top: 19px;
}

.nav ul .fa-solid {
  color: white;
  padding: 10px 10px 10px 0px;
}

.nav ul .fa-utensils {
  padding-right: 22px;
}

.nav ul .text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */