.btn,
.menu__button {
    padding: 25px 35px;
    margin-block: 36px;
    font-size: 23px;
    color: $color-white;
    border: none;
    @include gradient;
    border-radius: 40px;
    box-shadow: $shadow;
    &:hover {
        @include btn-hover;
    }
}

.menu__button {
    padding: 25px 75px;
    margin-top: 50px;
    margin-bottom: 80px;
}
