.search2__button {
    padding: 25px 35px;
    margin-block: 36px;
    font-size: 23px;
    color: $color-white;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 40px;
}
