.search2__button,
.menu__button {
    padding: 25px 35px;
    margin-block: 36px;
    font-size: 23px;
    color: $color-white;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 40px;
}

.menu__button {
    padding: 25px 75px;
    margin-top: 50px;
    margin-bottom: 80px;
}
