body {
    @include display-column;
    max-width: 599px;
    box-sizing: content-box;
    margin: 0;
}

header,
.working,
.selection,
footer {
    padding: 30px;
}
header {
    display: flex;
    justify-content: center;
}

.working {
    gap: 20px;
    @include display-column;
}
.selection__card {
    @include display-column;
}
