@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/* section de recheche acceuil*/
.search {
    font-family: $font-text;
    color: black;
    .city {
        font-size: 22px;
    }
    .search2__tittle {
        text-align: center;
        font-size: 35px;
    }
    .search2__description {
        text-align: center;
        font-weight: 100;
        font-size: 27px;
        color: grey;
    }
}
.explain {
    text-decoration: none;
    .explain__text,
    .explain__numbers {
        font-family: $font-text;
        font-size: 23px;
        color: black;
    }
}
.selection__tittle,
.working__tittle {
    font-family: $font-text;
    font-size: 35px;
}
/* card Accueil*/
.card {
    a {
        text-decoration: none;
    }
    .card__image__new {
        font-family: $font-text;
        font-size: 20px;
        color: hsl(165, 32%, 46%);
    }
    .card__tittle {
        font-family: $font-text;
        color: black;
        font-size: 25px;
        font-weight: 600;
    }
    .card__description {
        font-family: $font-text;
        color: black;
        font-size: 25px;
        font-weight: 100;
    }
}

.nav ul {
    list-style-type: none;

    .nav__link {
        text-decoration: none;
        color: black;
        font-family: "Roboto";
    }
}
/* Menu pages Resto */
.menu__resto {
    .menu__resto__tittle {
        font-family: "shrikhand";
        font-size: 40px;
    }
    .menu__heart {
        font-size: 40px;
    }
}
.menu__card {
    font-family: $font-text;
    .menu__card__tittle {
        text-transform: uppercase;
        font-family: $font-text;
        font-weight: 300;
    }

    .plat__desc {
        .plat__desc__tittle {
            /*font-size: 27px;*/
            font-size: clamp(20px, 5vw, 30px); /*font-size responsavie)*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .plat__desc__exp {
            /*font-size: 23px;*/
            font-size: clamp(18px, 5vw, 27px); /*font-size responsavie)*/
            font-weight: 200;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .plat__price {
        font-size: 25px;
    }
}
