@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300 & family= Shrikhand & display=swap");

.search {
    font-family: $font-text;
    color: black;
}
.explain {
    text-decoration: none;

    .explain__text,
    .explain__numbers {
        font-family: $font-text;
        font-size: 23px;
        color: black;
    }
}
.card {
    a {
        text-decoration: none;
    }

    .card__image__new {
        font-family: $font-text;
        font-size: 20px;
        color: hsl(165, 32%, 46%);
    }
    .card__tittle {
        font-family: $font-text;
        color: black;
        font-size: 25px;
        font-weight: 600;
    }
    .card__description {
        font-family: $font-text;
        color: black;
        font-size: 25px;
        font-weight: 100;
    }
    .card__heart .fa-regular {
        font-size: xx-large;
        color: black;
    }
}

.selection__tittle,
.working__tittle {
    font-family: $font-text;
    font-size: 35px;
}
.nav ul {
    list-style-type: none;

    .nav__link {
        text-decoration: none;
        color: black;
        font-family: "Roboto";
    }
}
