/*loader*/
@-webkit-keyframes fill {
    0%,
    10%,
    100% {
        width: 0%;
    }
    70%,
    90% {
        width: 100%;
    }
}
@keyframes fill {
    0%,
    10%,
    100% {
        width: 0%;
    }
    70%,
    90% {
        width: 100%;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/* heart */
@-webkit-keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* slide plat */
@-webkit-keyframes slide {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        transform: translateY(10%);
        opacity: 1;
    }
}
@keyframes slide {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        transform: translateY(10%);
        opacity: 1;
    }
}

/* btn check */
@-webkit-keyframes btn-check {
    0% {
        transform: translateX(-40%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
        right: 0;
    }
}
@keyframes btn-check {
    0% {
        transform: translateX(-40%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes check {
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes check {
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes price {
    100% {
        transform: translateX(-150%);
    }
}

@keyframes price {
    100% {
        transform: translateX(-150%);
    }
}

@-webkit-keyframes price-desktop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-160%);
    }
}

@keyframes price-desktop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-160%);
    }
}

@-webkit-keyframes price-tablette {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-190%);
    }
}

@keyframes price-tablette {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-190%);
    }
}
