@-webkit-keyframes slide {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }

    100% {
        transform: translateY(10%);
        opacity: 1;
    }
}
@keyframes slide {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }

    100% {
        transform: translateY(10%);
        opacity: 1;
    }
}
