@mixin display-column {
    display: flex;
    flex-direction: column;
}
@mixin display-row {
    display: flex;
    flex-direction: row;
}
@mixin tittle($size: auto) {
    font-family: $font-tittle;
    font-size: $size;
}
@mixin texte($size: auto) {
    font-family: $font-text;
    font-size: $size;
}

@mixin center-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin btn-hover {
    opacity: 0.8;
    box-shadow: $shadow-I;
}

@mixin explain-hover {
    background-color: $color-magnolia;
    & .fa-solid {
        color: $color-primary;
        background-color: $color-magnolia;
    }
}
@mixin heart-full {
    background-image: $color-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: none;
    font-weight: bold;
}

/* Mixin breakpoint*/
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints,tablette)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content;
    }
}
