@mixin display-column {
    display: flex;
    flex-direction: column;
}
@mixin display-row {
    display: flex;
    flex-direction: row;
}
@mixin tittle($size: auto) {
    font-family: $font-tittle;
    font-size: $size;
}
@mixin texte($size: auto) {
    font-family: $font-text;
    font-size: $size;
}

@mixin center-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin btn-hover {
    opacity: 0.85;
    box-shadow: $shadow-I;
}

@mixin explain-hover {
    background-color: $color-magnolia;
    & .fa-solid {
        color: $color-primary;
        background-color: $color-magnolia;
    }
}
@mixin heart-full {
    background-image: $color-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
@mixin heart-empty {
    background-image: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: black;
    font-weight: 100;
}
