$font-tittle: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-gray-f: hsla(0, 6%, 90%, 0.945);
$color-gray: hsl(0, 16%, 94%);
$color-gray-ff: hsla(0, 3%, 76%, 0.918);
$color-gray-l: hsla(0, 10%, 96%, 0.993);

$padding20: 20px;
