$font-tittle: "Shrikhand";
$font-text: "Roboto", sans-serif;

$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);
$color-white: #fff;
$color-gray-f: hsla(0, 6%, 90%, 0.945);
$color-gray: hsl(0, 16%, 94%);
$color-gray-ff: hsla(0, 3%, 76%, 0.918);
$color-gray-l: hsla(0, 10%, 96%, 0.993);

$padding20: 20px;
