$font-tittle: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);
$color-white: #fff;
$color-gray-f: hsla(0, 0%, 92%, 1);
$color-gray-ff: hsla(0, 0%, 91%, 1);
$color-gray: hsla(0, 0%, 96%, 1);
$color-gray-black: hsla(0, 1%, 21%, 1);
$color-grayshadow: rgb(0 0 0 / 20%);
$color-gray-hover: rgb(0 0 0 / 35%);
$color-gradient: linear-gradient($color-primary, $color-secondary);
$color-gradient3: linear-gradient(
    $color-primary,
    $color-secondary,
    $color-tertiary
);
$color-magnolia: hsla(267, 100%, 96%, 1);

$shadow: 0px 5px 8px $color-grayshadow;
$shadow-I: 0px 5px 8px $color-gray-hover;
$shadow-explain: -5px 5px 20px 2px $color-gray-ff;

$breakpoints: (
    tablette: 600px,
    desktop: 992px,
    /*min widht*/
);
