.search__form {
    @include display-row;
    justify-content: center;
    padding: 20px;
    background-color: $color-gray-f;
    box-shadow: inset 0px 5px 5px -3px $color-gray-f;
    #searchcity {
        font-size: 22px;
        color: black;
        width: 45%;
        display: flex;
        padding-left: 20px;
        background-color: $color-gray-f;
        border: none;
    }
}
.search2 {
    background-color: $color-gray;
    @include display-column;
    align-items: center;
    padding: 45px;

    .search2__tittle {
        display: inline-block;
        padding: 0px 50px;
        margin-block: 18px;
    }
    .search2__description {
        display: inline-block;
        margin-top: 0%;
        margin-bottom: 10px;
    }
}
.working {
    gap: 35px;
    @include display-column;
    margin-bottom: 60px;
    margin-top: 20px;
    .working__tittle {
        margin-bottom: 15px;
        margin-top: 0px;
    }
}
.explain {
    @include display-row;
    background-color: $color-gray;
    gap: 30px;
    padding: 35px;
    margin-left: 18px;
    position: relative;
    border-radius: 25px;
    box-shadow: $shadow-explain;
    &:hover {
        @include explain-hover;
    }
}

.explain {
    .explain__numbers {
        background: $color-primary;
        border-radius: 100%;
        color: $color-white;
        padding: 5px 10px;
        margin-block: 8px;
        position: absolute;
        left: -14px;
    }
    .fa-solid {
        font-size: 30px;
        color: gray;
        padding: 8px;
        display: flex;
        align-items: center;
        box-shadow: none;
    }
    .explain__text {
        display: flex;
        align-items: center;
    }
}

.selection {
    padding: 60px 30px;
    background-color: $color-gray;
    .selection__tittle {
        padding-bottom: 8px;
    }
}
.selection__card {
    @include display-column;
    gap: 15px;
}

.card img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-height: 260px;
    border-radius: 20px 20px 0px 0px;
}

.card {
    text-decoration: none;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: $shadow;
    .card__image {
        position: relative;
        .card__image__new {
            position: absolute;
            top: 10px;
            right: 20px;
            background: $color-tertiary;
            padding: 10px 20px;
            border-radius: 3px;
        }
    }
    .card__desc {
        @include display-row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-between;
        .card__tittle {
            margin-bottom: 0px;
        }
        .card__description {
            margin-top: 5px;
        }
    }
    .card__heart {
        @include center-flex-end;
    }
}

.meal__image {
    width: 100%;
    opacity: 1;
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
    height: 390px;
}

.meal {
    .menu {
        padding: 10px;
        border-radius: 60px 60px 0px 0px;
        background-color: $color-gray;
        opacity: 1;
        width: 100%;
        box-sizing: border-box;
        margin-top: -60px;
        z-index: 2;
        position: relative;
        @include display-column;
        align-items: center;
    }
}
.menu__resto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .menu__resto__tittle {
        margin-left: 15px;
    }
    .material-symbols-rounded {
        margin-right: 15px;
    }
}
.menu__card {
    margin-top: 20px;
    width: 95%;
    .menu__card__tittle {
        padding-bottom: 10px;
        border-bottom: 5px solid $color-tertiary;
        width: 13%;
    }
    .menu__card__plat {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: flex-end;
        background-color: $color-white;
        border-radius: 20px;
        margin-bottom: 25px;
        box-shadow: $shadow;
    }
}

.menu__card__plat {
    .plat__desc__tittle {
        margin: 10px;
    }
    .plat__desc__exp {
        margin: 10px;
        width: 90%;
    }
}
.plat__price {
    margin: 10px;
}
