.search__form {
    @include display-row;
    justify-content: center;
    padding: $padding20;
    background-color: $color-gray-f;
    box-shadow: inset 0px 5px 5px -3px $color-gray-ff;
    #searchcity {
        font-size: 22px;
        color: black;
        width: 45%;
        display: flex;
        padding-left: 20px;
        background-color: $color-gray-f;
        border: none;
    }
    .city {
        font-size: 22px;
    }
}
.search2 {
    background-color: $color-gray-l;
    @include display-column;
    align-items: center;
    padding: 45px;

    .search2__tittle {
        display: inline-block;
        text-align: center;
        padding: 0px 50px;
        font-size: 35px;
        margin-block: 18px;
    }
    .search2__description {
        display: inline-block;
        text-align: center;
        font-weight: 100;
        font-size: 27px;
        color: grey;
        margin-top: 0%;
        margin-bottom: 10px;
    }
}
.working {
    gap: 35px;
    @include display-column;
    margin-bottom: 60px;
    margin-top: 20px;
    .working__tittle {
        margin-bottom: 15px;
        margin-top: 0px;
    }
}
.explain {
    @include display-row;
    background-color: $color-gray-l;
    gap: 30px;
    padding: 35px;
    margin-left: 18px;
    position: relative;
    border-radius: 25px;
    .explain__numbers {
        background: $color-primary;
        border-radius: 100%;
        color: $color-white;
        padding: 5px 10px;
        margin-block: 8px;
        position: absolute;
        left: -14px;
    }
    .fa-solid {
        font-size: 30px;
        color: grey;
        padding: 8px;
        display: flex;
        align-items: center;
    }
    .explain__text {
        display: flex;
        align-items: center;
    }
}
.selection {
    padding: 60px 30px;
    background-color: $color-gray-l;
    .selection__tittle {
        padding-bottom: 8px;
    }
}
.selection__card {
    @include display-column;
    gap: 15px;
}

.card img {
    object-fit: cover;
    width: 100%;
    max-height: 260px;
    border-radius: 20px 20px 0px 0px;
}

.card {
    text-decoration: none;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: $color-white;
    border-radius: 20px;
    .card__image {
        position: relative;
        .card__image__new {
            position: absolute;
            top: 10px;
            right: 20px;
            background: $color-tertiary;
            padding: 10px 20px;
            border-radius: 3px;
        }
    }
    .card__desc {
        @include display-row;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-between;
        .card__tittle {
            margin-bottom: 0px;
        }
        .card__description {
            margin-top: 5px;
        }
    }
    .card__heart {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.meal__image {
    width: 100%;
    img {
        object-fit: cover;
    }
}
.meal__menu {
    padding: 20px;
}
