footer {
    background: $color-gray-black;
    padding: 30px 30px 30px 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    .logo {
        width: 27%;
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}
.nav ul {
    padding: 0px;
    line-height: 35px;
    padding-top: 19px;
    @include tablette {
        display: flex;
        gap: 45px;
        align-items: center;
        justify-content: space-around;
    }
    .fa-solid {
        color: white;
        padding: 10px 10px 10px 0px;
    }
    .fa-utensils {
        padding-right: 22px;
    }
    .text {
        color: $color-white;
        font-family: $font-text;
        font-size: 22px;
    }
}
