.card__heart {
    font-size: xx-large;
    cursor: pointer;
    .full {
        opacity: 0;
        @include heart-full;
        position: absolute;
    }
    & :hover {
        -webkit-animation: heart 3s ease both;
        animation: heart 3s ease both;
    }
}

.menu__heart {
    @include center-flex-end;
    margin-right: 20px;
    cursor: pointer;
    .full {
        opacity: 0;
        @include heart-full;
        position: absolute;
    }
    & :hover {
        -webkit-animation: heart 3s ease both;
        animation: heart 3s ease both;
    }
}
