header img {
    width: 50%;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    .fa-solid {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 30px;
    }
}
