header img {
    width: 50%;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    .fa-solid {
        position: absolute;
        left: 30px;
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
}
